    <div class="container mt-5">
      <h2><%= @location[:name] %></h2>
      <h4><%= @location[:address] %></h4>
      
      <br>

      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDgho0Y7QbrU-ezjumt3T6Moptq27mcm5c
          &q=<%= @location[:address] %>&zoom=14" allowfullscreen>
      </iframe>

      <br>  
<div>
      <p>
        <a href="/areas/<%= @location[:areas_id] %>" class="btn btn-primary">Back</a>
      </p>
</div>    
      </div>