<h1>
<%if @current_user %>
    Your Profile
<%else %>
<%=@user[:name]%>'s Profile
<%end%>
</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
<tbody>
    <tr>
      <td><% for riki in @rikis %>
            <p><%= @locations_table.where(id: riki[:locations_id]).to_a[0][:name] %></p>
        <% end %></td>
      <td><% for riki in @rikis %>
            <p><%= riki[:rating] %></p>
        <% end %></td>  
      <td><% for riki in @rikis %>
            <p><%= riki[:comments] %></p>
        <% end %></td>  